html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.link-button {
    background: none !important;
    border: none;
    padding: 0 !important;
   
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

    .link-button:hover {
        color: #0056b3;
        text-decoration: none;
    }
